
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

html,body{
    margin:0px;
    font-family: 'League Spartan';
}
.carousel-caption > h5{
    font-size: 3rem;
    font-weight: 900;
    background-color:rgba(59,72,111,1);
    color: white;
    display: inline;
    padding: 0px 10px;
}
.navbar{
    background-color: #3b486f !important;
}
.navbar-nav{
    text-align: center;
}
.box{
    background-color: rgba(159,163,179,1);
}
.box >h5{
    color:white;
    text-align: center;
    font-size:28px;
}
.join{
    text-align: center;
}
.join > p{
    color:#3b486f;
    font-size:16px;
    font-weight:600
}
.join > a{
    background-color: #3b486f;
    padding:10px 5%;
    color:white;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
}
.box-1{
    background-color: rgba(159,163,179,1);
    color: #3b486f;
    text-align: center;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
    border:none !important
}
.navbar-toggler {
box-shadow: none !important;
outline: none !important;
border:none !important
}
.navbar-toggler span {
display: block;
background-color: #4f4f4f;
height: 3px;
width: 25px;
margin-top: 5px;
margin-bottom: 5px;
position: relative;
border-radius: 10px;
left: 0;
opacity: 1;
transition: all 0.35s ease-out;
transform-origin: center left;
}
.navbar-toggler span:nth-child(1) {
margin-top: 0.3em;
}
.collapsed span {
   background-color: #f0f0f0;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
background-color: #ffffff;
transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
transform: translate(15%, 33%) rotate(-45deg) ;
background-color: #ffffff;
}
.navbar-toggler span:nth-child(1) {
transform: translate(0%, 0%) rotate(0deg) ;
}
.navbar-toggler span:nth-child(2) {
opacity: 1;
}
.navbar-toggler span:nth-child(3) {
transform: translate(0%, 0%) rotate(0deg) ;
}
#header{
    transition: all 500ms;
}
.nav-link{
    font-weight: 600;
    letter-spacing:0px;
}
.navbar-brand{
    font-weight: 700;
}
.img_hold{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_hold > h2{
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-shadow: 0px 2px gray;
    border-radius: 5px;
    padding:10px
}
.home_bg{
    background-image: url("/static/img/home_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.about_bg{
    background-image: url("/static/img/about_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.sponsored_bg{
    background-image: url("/static/img/sponsored_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.contact_bg{
    background-image: url("/static/img/contact_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.gaz_bg{
    background-image: url("/static/img/gaz.PNG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.about{
    text-align: center;
}
.about > h6{
    font-size:22px;
    font-weight: 700;
    color: #fff;
    background-color: #3b486f;
    display: inline-block;
    padding:5px;
    border-radius: 5px;
}
.about > p{
    text-align: justify;
    color: #3b486f;
    font-size:22px
}
.nav-link.active{
    font-weight:900 !important;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform:translate(-50%) scaleX(1.0) scaleY(1.0);
}
.dropdown-menu{
    margin-top:2px;
    left:50%;
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
    border: 1px solid #eee; 
    transform:translate(-50%) scaleX(0.2) scaleY(0.2);
    padding: 10px;
}
.dropdown-item{
    color:#3b486f;
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    font-weight: 500;
  }
  .dropdown-item:hover{
    border-radius: 5px;
    background-color: #3b486f;
    color:#fff
  }

  .dropdown-item.active{
    border-radius: 5px;
    background-color: #3b486f;
    color:#fff
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    .dropdown-menu{
      margin-top:7px;
      transform: none !important;
      display: none !important;
      visibility: visible !important;
      opacity: 1 !important;
      transform:none !important;
    }
    .dropdown:hover .dropdown-menu{
      display: block !important;
      transform:none !important;
  
    }
  }
  @media screen and (max-device-width: 640px) {
    .dropdown-menu{
      margin-top:7px;
      transform: none !important;
      display: none !important;
      visibility: visible !important;
      opacity: 1 !important;
      transform:none !important;
    }
    .dropdown:hover .dropdown-menu{
      display: block !important;
      transform:none !important;
  
    }
  }